* {
  margin: 0;
  padding: 0;
}

:root {
  --colorVioleta: #9810B3;
  --colorNegro: #09010B;
  --colorBlanco: #F9F9F9;
  --colorRojo: #BB1818;
  --fuenteBotones: 'Staatliches', cursive;
  --fuenteLetras: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  height: 10rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorVioleta)), to(var(--colorNegro)));
  background-image: linear-gradient(180deg, var(--colorVioleta), var(--colorNegro));
  border-bottom: solid 1px silver;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  margin-top: 10px;
  width: 300px;
  height: 85px;
  float: left;
  border-radius: 50px;
  -webkit-box-shadow: black 2px 2px 0px 0px;
          box-shadow: black 2px 2px 0px 0px;
}

.icono-menu {
  display: none;
}

/*BUSCADOR INTERNO*/
.buscar input {
  margin-top: 100px;
  position: absolute;
  display: block;
  text-align: center;
  width: 300px;
  height: 35px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  font-family: var(--fuenteLetras);
  font-weight: bolder;
  outline: none;
  border: 1px solid #631772;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #F9F9F9;
}

.buscar input:hover {
  width: 500px;
}

.buscar input:focus {
  width: 500px;
}

/*MENU*/
#menu {
  width: 100%;
}

#menu .logo-menu {
  display: none;
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#menu li {
  list-style: none;
  margin-top: 10px;
}

#menu li ul {
  text-align: center;
}

#menu a {
  font-family: var(--fuenteBotones);
  color: var(--colorBlanco);
  font-size: 20px;
  text-decoration: none;
  padding: 0px 20px;
}

#menu ul li a:hover {
  color: #BB1818;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-decoration: underline;
}

#menu ul li ul a {
  display: none;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

#menu ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: absolute;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: var(--fuenteLetras);
}

#menu li:hover > ul {
  margin-top: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorNegro)), to(var(--colorVioleta)));
  background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

#menu li:hover > ul a {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 0px 10px;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  font-family: var(--fuenteLetras);
  font-weight: 800;
  border-bottom: solid grey 2px;
}

.buscar {
  width: 600px;
}

.iconoMenu {
  display: none;
}

#contenido {
  display: block;
  width: 100%;
}

#contenido .aclaracion {
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 800;
  font-family: var(--fuenteLetras);
  color: var(--colorVioleta);
}

#contenido .botonContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #458d1b;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: solid green 3px;
}

#contenido .botonContacto a {
  color: var(--colorBlanco);
  font-size: 30px;
}

#contenido .botonContacto:hover {
  background-color: #64ca29;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contenidoLatex {
  display: block;
  width: 100%;
}

.contenidoLatex {
  margin: auto;
}

.contenidoLatex h1 {
  text-align: center;
  font-family: var(--fuenteBotones);
}

.contenidoLatex .bannerLatex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 400px;
  height: 400px;
  border: solid 2px black;
}

.contenidoLatex h3 {
  margin-top: 50px;
  text-align: center;
  font-family: var(--fuenteBotones);
  font-size: 50px;
  color: var(--colorRojo);
  text-shadow: rgba(128, 128, 128, 0.281) 2px 2px;
}

.gridlatex {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0fr)[4];
      grid-template-columns: repeat(4, 0fr);
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridlatex img {
  width: 250px;
  height: 200px;
  border-radius: 15px 0px 15px 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gridlatex img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*FOOTER*/
footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorNegro)), to(var(--colorVioleta)));
  background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
  margin-top: 50px;
}

footer .foot {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

footer .footUno {
  text-align: center;
}

footer .footUno h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footUno a {
  color: var(--colorBlanco);
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footUno .iconowsp {
  font-size: 30px;
}

footer .footUno .iconomsj {
  font-size: 30px;
}

footer .footUno a:hover {
  color: var(--colorRojo);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footDos {
  text-align: center;
}

footer .footDos h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footDos a {
  display: block;
  color: var(--colorBlanco);
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footDos a:hover {
  color: var(--colorRojo);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres {
  text-align: center;
}

footer .footTres h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footTres a {
  display: block;
  color: var(--colorBlanco);
  padding-top: 10px;
  font-size: 30px;
}

footer .footTres .iconofb {
  color: var(--colorBlanco);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconofb:hover {
  color: #070774;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconoig {
  color: var(--colorBlanco);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconoig:hover {
  color: #c000c0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=latex.css.map */